.content-wrap {
  background: $white;
  padding-top: 2rem;
}

.section, section {
  margin-bottom: 2rem;
  @include breakpoint(large){
    margin-bottom: 3rem;
  }
}

a {
  .iconify {
    color: $gray;
    &.orange {
      color:$orange;
    }
    font-size: 18px;
    margin-bottom: -4px;
    &[data-icon="codicon:heart"] {
      color: $orange;
    }
  }
}
.button.gray {
  border: 1px solid $gray;
  font-weight: normal;
  background:$bg-gray;
  &:after {
    border-color: $gray transparent transparent;
  }
}
.button {
  transition: background-color .3s;
  .iconify {
    font-size: rem-calc(18);
    margin-bottom: -4px;
    margin-right: 2px;
    color: $orange;
  }
  &.secondary {
    .iconify {
      color: $white;
    }
  }
  &:hover {
    background-color: #ddd !important;
    &.hollow{
      border-color: $dark-gray !important;
    }
    &.secondary:not(.hollow) {
      background-color: #777 !important;
    }
  }
}
.circle-icon {
  background-color: $primary-color;
  border-radius: 50%;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  .iconify {
    margin: 2px 1px 2px 2px;
    font-size: 1rem;
    color: $white !important;
  }
}

.panel {
  padding: rem-calc(22 30);
  margin-bottom: 2rem;
  border-radius: $global-radius / 2;
  box-shadow: 0 0.25rem 1.25rem 0 rgba(0,0,0,.05);
  .menu {
    margin-bottom: 1rem;
  }
  h3{
    margin-bottom: 1rem;
  }
}

.switch-group {
  position: relative;
  margin-bottom: 2rem;
  label.switch-label {
    position: absolute;
    top: 3px;
    left: 80px;
  }
}

.menu.panel-navigation {
  margin-bottom: 1rem;
  li:first-child {
    padding-left: 0rem;
  }
  li {
    padding: 0 1rem;
    margin-bottom: .5rem;
  }
  a {
    padding: 0.7rem 0;
    font-size: 14px;
    color: $gray;
    &.active {
      border-bottom: 1px solid $orange;
    }
  }
}
h4.date-header {
  position: relative;
  margin-bottom: 0px;
  font-size:  rem-calc(22) !important;
  .date {
    position: relative;
    background: $white;
    display: inline-block; 
    padding: 0 16px 16px 0;
    z-index: 199;
  }
  &:after {
    position: absolute;
    left: 0;
    top: 22px;
    content: '';
    height: 1px;
    width: 100%;
    background: $medium-gray;
  }
}