.aux-menu {
  margin-bottom: 3rem;

  .title-bar-left {
    display: flex;
    align-items: center;
    flex-grow: 50;
  }

  .page-title {
    flex-grow: 1;
    text-align: center;
  }
  .title-bar-right {
    flex-shrink: 1;
  }
}