.button-dropdown {
  text-align: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  a {
    color:$gray;
    font-size: rem-calc(14);
    &.is-active {
      font-weight: bold;
    }
    &:hover {
      color: #000;
    }
  }
}