.chips {
  margin-bottom: rem-calc(16);
}
.chip {
  display: inline-block;
  font-size: rem-calc(14);
  padding: rem-calc(6 12);
  background: #eee;
  color: $black;
  border-radius: $global-radius;
  margin: 0 .5rem .5rem 0;
  .iconify {
    font-size: 16px;
    margin: 0 3px -3px 0;
    color: $gray;
  }
}