.user-block {
  text-align: center;
  margin-bottom: 1.5rem;

  .user-name, .user-profession {
    margin-top: rem-calc(5);
    margin-bottom: 0;
    line-height: 1.2;
    text-align: center;
    color: $dark-gray;
  }
  .user-name {
    margin-top: rem-calc(12);
    font-size: rem-calc(16);
    
  }
  .user-profession {
    font-size: rem-calc(14);

  }
}