.hasDatepicker {
  position: relative;
}

.ui-datepicker {
  width: 17em;
  // padding: .2em .2em 0;
  display: none;
  background-color: $white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: absolute;
  margin-top: 5px;
  left: 0;
  z-index: 999;

  .ui-datepicker-header, .ui-widget-header {
    position: relative;
    padding: .3em 0;
    background-color: $bg-gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
  }

  .ui-datepicker-prev {
    left: 2px;
  }

  .ui-datepicker-next {
    right: 2px;
  }

  .ui-icon-circle-triangle-w::after,
  .ui-icon-circle-triangle-e::after {
    border-style: solid;
    border-width: rem-calc(1 1 0 0);
    content: '';
    display: block;
    width: rem-calc(10);
    height: rem-calc(10);
    transform: rotate(225deg);
    border-color: $dark-gray !important;
    position: relative;
    top: -12px;
    left: 10px;
  }

  .ui-icon-circle-triangle-e::after {
    transform: rotate(45deg);
  }

  .ui-datepicker-prev span,
  .ui-datepicker-next span {
    display: block;
  }
  .ui-state-active {
    color: $white;
    position: relative;
    z-index: 100;
    background-color: $orange;
    border-radius: 3px;
    &:hover {
      color: #fff;
    }
  }

  .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
  }

  .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
  }

  select.ui-datepicker-month,
  select.ui-datepicker-year {
    width: 45%;
  }

  table,
  thead,
  tbody {
    border: none;
    background: transparent;
  }

  table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
    tr:nth-child(even) {
      background-color: $bg-gray;
    }
  }

  th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
  }

  td {
    border: 0;
    padding: 1px;
  }

  td span,
  td a {
    display: block;
    padding: .3em;
    text-align: right;
    text-decoration: none;
    color: #000;

    &:hover {
      color: $orange;
    }
  }

  .ui-state-disabled span {
    color: #aaa;
  }

  .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: rem-calc(6 10);
    width: auto;
    overflow: visible;
  }

  .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
  }

  /* with multiple calendars */
  .ui-datepicker.ui-datepicker-multi {
    width: auto;
  }

  .ui-datepicker-multi .ui-datepicker-group {
    float: left;
  }

  .ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
  }

  .ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
  }

  .ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
  }

  .ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
  }

  .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
  .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
  }

  .ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
  }

  .ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
  }


  .ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    left: .5em;
    top: .3em;
  }
}

// TIMEPICKER
.ui-slider {
  @extend .slider;
  background-color: #ddd;
}
.ui-slider-handle {
  @extend .slider-handle;
}
.ui-datepicker-buttonpane [type=button] {
  @extend .button.secondary;
}
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px
}

.ui-timepicker-div dl {
  text-align: left
}

.ui-timepicker-div dl dt {
  float: left;
  clear: left;
  padding: 0 0 0 5px
}

.ui-timepicker-div dl dd {
  margin: 0 10px 10px 40%
}

.ui-timepicker-div td {
  font-size: 90%
}

.ui-tpicker-grid-label {
  background: 0 0;
  border: 0;
  margin: 0;
  padding: 0
}

.ui-timepicker-div .ui_tpicker_unit_hide {
  display: none
}

.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input {
  background: 0 0;
  color: inherit;
  border: 0;
  outline: 0;
  border-bottom: solid 1px #555;
  width: 95%;
  height: 2rem;
  font-size: rem-calc(18px);
}

.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input:focus {
  border-bottom-color: #aaa
}

.ui-timepicker-rtl {
  direction: rtl
}

.ui-timepicker-rtl dl {
  text-align: right;
  padding: 0 5px 0 0
}

.ui-timepicker-rtl dl dt {
  float: right;
  clear: right
}

.ui-timepicker-rtl dl dd {
  margin: 0 40% 10px 10px
}

.ui-timepicker-div.ui-timepicker-oneLine {
  padding-right: 2px
}

.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time,
.ui-timepicker-div.ui-timepicker-oneLine dt {
  display: none
}

.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label {
  display: block;
  padding-top: 2px
}

.ui-timepicker-div.ui-timepicker-oneLine dl {
  text-align: right
}

.ui-timepicker-div.ui-timepicker-oneLine dl dd,
.ui-timepicker-div.ui-timepicker-oneLine dl dd>div {
  display: inline-block;
  margin: 0
}

.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before {
  content: ':';
  display: inline-block
}

.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before {
  content: '.';
  display: inline-block
}

.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before {
  display: none
}