$highlight-color: $gray;
$placeholder-padding: rem-calc(8px);
$placeholder-font-size: rem-calc(14px);
$placeholder-font-size-small: rem-calc(12px);
$placeholder-transition: 200ms ease-in-out;
$input-font-size: rem-calc(16px);
$input-top: rem-calc(-4px);
$input-height: rem-calc(55px);
$input-top-padding: rem-calc(16px);
$input-left-padding: rem-calc(8px);
$input-border-color: $gray;

.form-input {
  margin:rem-calc(0 0 40px);
  width: 100%;

  label {
    position:relative;
    display:block;
    width:100%;
    min-height:$input-height + $input-top;
  }

  .placeholder {
    position:absolute;
    display:block;
    left: $input-left-padding;
    top: rem-calc(18);
    z-index:2;
    font-size:$placeholder-font-size;
    transition:all $placeholder-transition;
    width:100%;
    cursor:text;
  }

  input, textarea {
    padding: $input-top-padding $input-left-padding 0 !important;
    background-color: $bg-gray;
    &.search {
      padding-right: rem-calc(40px) !important;
      background: $bg-gray url('https://api.iconify.design/codicon:search.svg?color=%2376777A&height=24') no-repeat center right 10px / 24px;
    }
    &.calendar {
      padding-right: rem-calc(40px) !important;
      background: $bg-gray url('https://api.iconify.design/codicon:calendar.svg?color=%2376777A&height=24') no-repeat center right 10px / 24px;
    }
    &.time {
      padding-right: rem-calc(40px) !important;
      background: $bg-gray url('https://api.iconify.design/codicon:watch.svg?color=%2376777A&height=24') no-repeat center right 10px / 24px;
    }
  }

  input, textarea {
    // position:absolute;
    // top:$input-top;
    // z-index:1;
    width:100%;
    font-size:$input-font-size;
    border:0;
    border-bottom:1px solid $input-border-color;
    transition: border-color $placeholder-transition;
    outline:none;
    padding: 0;
    margin: 0;
  }
  
  textarea {
    min-height:$input-height;
    padding: $placeholder-padding 0;
  }
  
  input {
    height:$input-height; 
  }
  
  input:placeholder-shown,
  input:focus,
  input:valid,
  textarea:focus,
  textarea:valid {
    & + .placeholder {
      top:0;
      cursor:inherit;
      font-size:$placeholder-font-size-small;
      color:$highlight-color;
    }

    border-bottom:2px solid $highlight-color;
  }
}
.select-label {
  font-size: rem-calc(12);
}
select, select:focus {
  border: none;
  border-bottom:1px solid $input-border-color;
  min-height: rem-calc(55);
  border-radius: 0;
  background-color: $bg-gray;
  padding-left: rem-calc(16px);
  margin: 0 0 2.5rem;
}