.hero {
  background-size: cover;
  background-blend-mode: multiply;
  padding: rem-calc(70px 0);
  position: relative;
  color: $white;
  @include breakpoint(small only) {
    text-align: center;
    padding: rem-calc(22px 0);
    min-height: rem-calc(200);
    .user-pic {
      margin-bottom: 1rem;
    }
  }
  min-height: rem-calc(300);
  h1 {
    font-size: rem-calc(24);
    margin-bottom: rem-calc(5);
    @include breakpoint (medium) {
      font-size: rem-calc(36);
    }
  }
  p {
    margin-bottom: rem-calc(5);
    line-height: 1.2;
  }
  a {
    color: $white;
    &.button {
      color: $black;
      min-width: rem-calc(170);
    }
  }
  .actions {
    @include breakpoint (large) { 
      text-align: right;
    }
  }
  .button {
    margin-top: rem-calc(20);
    @include breakpoint (large) {
      margin-top: rem-calc(100);
    }
  }
}