.item {
  @include xy-grid;
  @include xy-gutters(16, 'padding', $negative:true);
  margin-bottom: .75rem;
  .item-thumb {
    @include xy-cell(shrink);
    img {
      max-width: 2.5rem
    }
  }
  .item-info {
    @include xy-cell(auto);
    color: $dark-gray;
    line-height: 1.2;
    span {display: block;}
    .item-name {
      font-size: rem-calc(14);
      margin-bottom: rem-calc(4px);
    }
    .item-description {
      font-size: rem-calc(12);
    }
  }
  .item-add {
    @include xy-cell(shrink);
    display: flex;
    align-items: center;
    .iconify {color: $red;}
  }
}