.off-canvas {
  // background: $dark-gray;
  padding: 1rem 1rem;
  top: 55px;
  @include breakpoint (medium) {
    top: 60px;
  }

  .menu {
    border-bottom: 1px dashed #666;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;

    &:last-child {
      border-bottom: none;
    }

    li {
      padding: rem-calc(11 16 6 16);
      color: $white;
    }
  }

  a {
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    padding: rem-calc(0 0 10);
    position: relative;

    .button {
      background: $white;
    }

    &:not(.button):after {
      transition: left .4s, opacity .4s;
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 100%;
      opacity: 0;
      background-color: rgba(255, 255, 255, .5);
    }

    &:hover {
      &:after {
        left: 0;
        opacity: 1;
      }
    }

    &.button {
      color: $dark-gray;
      margin-bottom: 2rem;
    }
  }
}