.add-project-button {
  min-width: 125px;
}
.projects-list {
  margin-bottom: 3rem;
  @include breakpoint(medium) {
    @include xy-grid;
    @include xy-gutters(30, 'padding', $negative:true);
    margin-bottom: 0rem;
  }

  .project-block {
    @include breakpoint(medium) {
      @include xy-cell(4);
    }

    margin-bottom: 2rem;

    .actions {
      margin: rem-calc(5 0);
      display: flex;

      a {
        font-size: rem-calc(16);
        font-size: rem-calc(16);
        color: $gray;
        margin-right: rem-calc(10);

        &:last-child {
          margin-right: 0;
        }

        &.align-right {
          margin-left: auto;
        }
      }
    }

    h4 {
      @include breakpoint(medium) {font-size: rem-calc(20);}
    }
  }

}