sidebar {
  margin-bottom: 2rem;
  @include breakpoint (small only) {
    // @include xy-grid;
  }
  @include breakpoint (medium) { 
    margin-bottom: 0;
    padding-top: 2rem;
  }
  .sidebar-block {
    margin-bottom: rem-calc(32);

    @include breakpoint (medium) {
      border-bottom: 1px solid #E0E0E0;
      padding-bottom: rem-calc(32);
      margin-bottom: rem-calc(32);
    }
    
  }
  .sidebar-title {
    font-size: rem-calc(18);
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .button {
    margin: rem-calc(22 0 0);
  }

  #connections {
    h3 {
      margin-bottom: 1.2rem;
    }
  }
  .user-block {
    text-align: center;
    @include breakpoint(small only) {
      &:nth-of-type(1n+7) {display: none;}
    }
    .user-name {
      font-size: rem-calc(13);
      margin-top: rem-calc(5);
      line-height: 1.2;
      text-align: center;
      color: $dark-gray;
    }
  }
  .actions-block {
    text-align: right;
    font-size: rem-calc(14);
    .iconify {
      color: $gray;
      margin-bottom: -2px;
      font-size: 1rem;
    }
  }
}