.submenu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -120px;
  left: 0;
  width: 100%;
  height: auto;
  background: $white;
  box-shadow: 0px 16px 10px rgba(0, 0, 0, 0.04);
  border-top: 1px solid #eee;
  padding: 2rem 0;
  transition: all .5s;
  z-index: 100;

  &.expanded {
    visibility: visible;
    opacity: 1;
    top: rem-calc(60);
  }

  a {
    padding: 0;
  }
}

.submenu__wrap {
  @include xy-grid-container;
}

.submenu__items {
  @include breakpoint (medium) {
    @include xy-grid;
    margin: 0;
  }
}

.submenu__item {
  @include breakpoint (medium) {
    @include xy-cell(4);
  }

  @include xy-grid;

  .submenu__img {
    @include xy-cell(4, $gutters: 8px);
    padding: 0;
  }

  .submenu__info {
    @include xy-cell(8, $gutters: 8px);
  }

  .submenu__lead {
    font-weight: bold;
    font-size: rem-calc(16px);
  }

  .submenu__description {
    font-size: rem-calc(12px);
    margin-bottom: 0;
  }
}