.sticky-container {
  z-index: 200;
  @include breakpoint (small only) {
    height: 55px !important;
  } 
}
.title-bar {
  .menu {
    margin-left: auto;
  }
}

#offCanvasButton, #offCanvasButtonMedium {
  .close {
    display: none;
    margin-top: 3px;
  }
  .offCanvas-is-open & {
    .open {
      display: none;
    }
    .close {
      display: block;
    }
  }
}
#offCanvasButtonMedium .close {
  margin-top: 10px;
}

.top-bar .top-bar-right,
.title-bar {
  .menu-logo {
    @include breakpoint(small only) {}
  }

  .menu {
    li a {
      color: $gray;
      font-size: 1.2rem;
      padding: 0.35rem 0.5rem;
      @include breakpoint (medium) {
        padding: 0rem 0.8rem !important;
        
      }

      &.user-pic {
        padding: 0rem;
        margin-right: .5rem;

        img {
          max-width: rem-calc(30);
        }
      }

      @include breakpoint(medium) {
        font-size: 1.8rem;
        padding: 0.35rem 1rem;

        &.user-pic {
          max-width: rem-calc(40);
          padding: 0rem 1rem;
          margin-right: 1rem;
        }
      }
    }
  }
}

.top-bar {
  position: relative;
  z-index: 200;
  .menu {
    li {
      a {
        text-transform: uppercase;
        color: $black;
        // font-weight: 700;
        font-size: rem-calc(12);
        padding: 0.8rem 1rem;

        &.logo {
          padding: rem-calc(0 16px 0 0);
        }

        &:after {
          border-color: $gray transparent transparent !important;
        }
      }
    }
  }
}

.top-bar .menu li.has-dropdown {
  position: relative;
  > a {
    position: relative;
    padding-right: 1.5rem;
  }
} 
.top-bar .menu li.has-dropdown > a::after {
  border-style: solid;
	border-width: rem-calc(1 1 0 0);
	content: '';
	display: inline-block;
	width: rem-calc(10);
	height: rem-calc(10);
	left: rem-calc(7);
	position: relative;
	top: rem-calc(4);
	transform: rotate(135deg);
	vertical-align: top;
  border-color: $dark-gray !important;
  transform-origin: 75% 25%;
  transition: transform .5s;
}
.top-bar .menu li.has-dropdown > a.is-active::after {
  transform: rotate(-45deg);
}