<div class="connctions">
  <div class="content-wrap">
    <div class="grid-x grid-padding-x">
      <sidebar class="medium-3 cell">
        <ul class="menu vertical">
          <li><a href=""><span class="iconify" data-icon="codicon:heart" data-inline="false"></span> Рекомендации</a></li>
          <li><a href=""><span class="iconify" data-icon="codicon:bell" data-inline="false"></span> Подписки</a></li>
        </ul>
      </sidebar>
      <div class="medium-9 cell">
        <div class="panel">
          <h4>Рекомендации по профессиям</h4>
          <ul class="menu panel-navigation">
            <li><a href="" class="active">Все (47)</a></li>
            <li><a href="" class="">Режиссер (11)</a></li>
            <li><a href="">Актер (24)</a></li>
            <li><a href="">Сценарист (2)</a></li>
          </ul>
          <div class="grid-x grid-padding-x small-up-2 medium-up-3 large-up-5">
            {{#each users}}
            <a class="user-block cell">
              <img src="{{root}}assets/img/avatar/{{this.img}}" alt="" />
              <p class="user-name">{{this.name}}</p>
              <p class="user-profession">{{this.job}}</p>
            </a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>