<div class="create-project">
  <div class="grid-container">
    <div class="grid-x">
      <div class="small-10 small-offset-1 cell panel">

        <section class="main_info">
          <h1 contenteditable="true">Назовите проект</h1>
          <p class="lead" contenteditable="true">Добавьте описание</p>
        </section>

        <section class="grid-x grid-margin-x add-content">
          <div class="small-4 cell">
            <a href="" class="button large-button"><span class="iconify" data-icon="mdi:file-image-outline"
                data-inline="false"></span>
              Добавить изобажение</a>
          </div>
          <div class="small-4 cell">
            <a href="" class="button large-button"><span class="iconify" data-icon="mdi:file-video-outline"
                data-inline="false"></span>
              Добавить видео</a>
          </div>
          <div class="small-4 cell">
            <a href="" class="button large-button"><span class="iconify" data-icon="mdi:format-text"
                data-inline="false"></span>
              Добавить текст</a>
          </div>

        </section>


        <section class="status">
          <h3>Статус проекта <span data-tooltip tabindex="1"
              title="Если вы еще работаете над проектом, значит его статус – &laquo;В работе&raquo;. Если проект готов и может быть показан, ваш вариант – &laquo;Готов&raquo;. Если проект готов, когда-то был показан / исполнен, но в данный момент показать его нельзя – выбирайте &laquo;В архиве­&raquo;"><span
                class="iconify" data-icon="codicon:question" data-inline="false"></span></span></h3>
          
          <label>
            <select id="statusSelect">
              <option value="inProgress">В работе</option>
              <option value="ready" data-toggle="events">Готов</option>
              <option value="archive">В архиве</option>
            </select>
          </label>
        </section>

        <section class="events hide" id="events" data-toggler=".hide">
          <h3>События проекта</h3>
          <div class="chips">
            {{>chip title="Показ. 07.10.21" deletable=1}}
            {{>chip title="Показ. 27.10.21" deletable=1}}
          </div>
          <a class="button secondary" data-open="addEvent">Добавить событие</a>
        </section>

        <div class="reveal" id="addEvent" data-reveal>
          <h3 class="medium-12 cell">Добавить событие</h3>
          <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
              {{>input title="Название"}}
              {{>input title="Дата" calendar=1}}
              {{>input title="Время" time=1}}
              {{>input title="Место" search=1}}
            </div>
            <div class="medium-6 cell">
              {{>textarea title="Комментарий"}}
            </div>
          </div>

          <div class="grid-x grid-padding-x">
            <div class="medium-12 cell text-right"><a href="" data-close class="button secondary">Добавить</a>
            </div>
          </div>
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span class="iconify" data-icon="codicon:chrome-close" data-inline="false"></span>
          </button>
        </div>

        <section class="team">
          <div class="user">
            <img class="user__pic" src="{{root}}assets/img/avatar.jpg" alt="">
            <p class="user__name">Борис Борисов</p>
            <p class="user__role">Режиссер</p>
          </div>
          <div class="user user-add">
            <a href="" class="user-add__button"><img src="{{root}}assets/img/user-add.svg" alt=""></a>
            <div class="user-add__text">Добавьте участника</div>
            <div class="user-add__tip">Кто-то, кого вы знаете участвует в проекте?</div>
          </div>
        </section>

        <section class="team-search">
          <div class="cell small-12">
            <h3>Специалисты каких профессий нужны в проект?</h3>
            <div class="chips">
              {{> chip title="Перформер" deletable=1 }}
              {{> chip title="Художник" deletable=1 }}
              {{> chip title="Продюссер" deletable=1 }}
            </div>

            {{> input search=1 title="Добавить специалиста (начните вводить название)"}}

          </div>
        </section>

        <section class="industry">
          <div class="cell small-12">
            <h3>Индустрия проекта</h3>
            <div class="chips">
              {{> chip title="Театр" deletable=1 }}
              {{> chip title="Мероприятия" deletable=1 }}
            </div>

            {{> input search=1 title="Добавить индустрию (начните вводить название)"}}

          </div>
        </section>

        <section class="partners">
          <div class="cell small-12">
            <h3>Партнеры проекта</h3>
            <div class="chips">
              {{> chip title="Электротеатр Станиславский" deletable=1 not_editable=1 }}
            </div>

            {{> input search=1 title="Добавить партнера"}}

          </div>
        </section>

        <section class="tags">
          <div class="cell small-12">
            <h3>Метки проекта</h3>
            <div class="chips">
              {{> chip title="Театр" deletable=1 }}
              {{> chip title="Мероприятия" deletable=1 }}
            </div>

            {{> input search=1 title="Добавить метки"}}

          </div>
        </section>

        <section class="support" id="support">
          <div class="cell small-12">

            {{> switch title="Проекту нужна поддержка"}}

            <div id="text" style="display:none">
              {{>textarea title="Опишите, что вы можете предложить инвесторам"}}
            </div>

          </div>
        </section>

      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) { 
    jQuery("#statusSelect").change(function(){
      if (jQuery(this).val() == 'ready') { 
        jQuery("#events, #support").removeClass('hide');
        jQuery(".user-add").addClass('hide');
      } else if ((jQuery(this).val() == 'inProgress')) {
        jQuery(".support, .user-add").removeClass('hide');
        jQuery("#events").addClass('hide');
      }
      else jQuery("#events, #support, .user-add").addClass('hide');
    });
    jQuery("#switch").change(function(){
       jQuery('#support #text').toggle();
    });
  });
</script>