<div class="create-profile">
  <div class="grid-container">
    <div class="grid-x">
      <div class="small-10 small-offset-1 cell panel">

        <section class="grid-x grid-margin-x user-pics">
          <div class="medium-4 cell user-thumb"
            style="background:rgba(255, 255, 255, .5) url({{root}}assets/img/avatar.jpg)">
            <a href="" class="button"><span class="iconify" data-icon="codicon:cloud-upload" data-inline="false"></span>
              Обложкка</a>
          </div>
          <div class="medium-8 cell user-cover"
            style="background:rgba(255, 255, 255, .5) url({{root}}assets/img/bg.jpg)">
            <a href="" class="button"><span class="iconify" data-icon="codicon:cloud-upload" data-inline="false"></span>
              Обложкка</a>
          </div>
        </section>

        <div class="main-info-group">
          <div class="grid-x grid-padding-x">
            <div class="cell small-12">
              <h3>Основная информация</h3>
            </div>
          </div>
          <form>

            <section>
              <div class="grid-x grid-padding-x">
                <div class="cell medium-6">
                  {{>input title="Имя"}}
                </div>
                <div class="cell medium-6">
                  {{>input title="Фамилия"}}
                </div>
              </div>
              <div class="grid-x grid-padding-x">
                <div class="cell small-12">
                  {{>input title="Профессия"}}
                  {{> input search=1 title="Где вы находитесь"}}
                </div>
              </div>
            </section>

            <section class="grid-x grid-padding-x">
              <div class="cell small-12">
                <h3>Индустрия</h3>

                <div class="chips">
                  {{> chip title="Кино" deletable=1 }}
                  {{> chip title="Реклама" deletable=1 }}
                  {{> chip title="Театр" deletable=1 }}
                </div>

                {{> input search=1 title="Добавить индустрию"}}
                
              </div>
            </section>

            <section class="grid-x grid-padding-x">
              <div class="cell small-12">
                <h3>Профессия</h3>

                <div class="chips">
                  {{> chip title="Актер" deletable=1 }}
                  {{> chip deletable=1}}
                  {{> chip title="Музыкант" deletable=1 }}
                </div>

                {{> input search=1 title="Добавить профессию"}}

                
              </div>
            </section>

            <section class="grid-x grid-padding-x">
              <div class="cell small-12">
                {{> switch title="Готов быть волонтером"}}
              </div>
            </section>

            <div class="grid-x grid-padding-x">
              <div class="cell small-12 actions">
                <a href="" class="button hollow secondary">Отмена</a><a href="profile.html" class="button secondary">Сохранить</a>
              </div>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>