    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-10 medium-offset-1 cell">

          <div class="content-wrap">
            <div class="panel">
              <h2>Добро пожаловать!</h2>
              <p>Список страниц:</p>
              <ul class="menu vertical">
                {{#each pages}}
                <li><a href="/{{src}}">{{name}}</a></li>
                {{/each}}
              </ul>
            </div>
          </div>
          
        </div>
      </div>


    </div>
