    <div class="profile">
      {{>user-title}}

      <div class="content-wrap">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <sidebar class="medium-4 large-3 cell">

              <div class="sidebar-block" id="update-profile">
                <h3 class="sidebar-title">Прокачка профиля: <span class="percent-value">70%</span></h3>
                <p class="subheading" id="user-class">Новичок</p>
                <div class="progress update-profile-progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
                  <div class="progress-meter" style="width: 50%"></div>
                </div>
                <p class="info">Добавьте свой опыт работы и проекты, чтобы вас было проще обнаружить</p>
                <a href="create_profile.html" class="button hollow secondary expanded">Дополнить профиль</a>
              </div>

              <div class="sidebar-block" id="connections">
                <h3 class="sidebar-title">Меня рекомендуют</h3>
                <div class="grid-x grid-padding-x small-up-2 medium-up-3">
                  {{#each users}}
                  <a class="user-block cell">
                    <img src="{{root}}assets/img/avatar/{{this.img}}" alt="" />
                    <p class="user-name">{{this.name}}</p>
                  </a>
                  {{/each}}
                </div>
              </div>

              <div class="sidebar-block" id="professions">
                <h3 class="sidebar-title">Мои профессии</h3>
                <div class="chips-group"><a class="chip">Режиссер</a><a class="chip">Актер</a><a class="chip">Оператор</a></div>
                <div class="actions-block">
                  <span class="iconify" data-icon="codicon:edit" data-inline="false"></span>
                  <a href="create_profile.html">Редактировать</a>
                </div>
              </div>

              <div class="sidebar-block" id="companies">
                <h3 class="sidebar-title">Где работал</h3>
                <div class="items-list">
                  {{#repeat 2}}
                  <div class="item">
                    <a class="item-thumb"><img src="{{root}}assets\img\company_thumb.jpg" alt=""></a>
                    <div class="item-info"><a class="item-name">Электротеатр “Станиславский”</a></div>
                    <a class="item-add"><span class="iconify" data-icon="codicon:add" data-inline="false"></span></a>
                  </div>
                  {{/repeat}}
                </div>
              </div>

            </sidebar>


            <div class="content medium-8 large-9 cell">
              <div class="panel">
                <h3>Обо мне</h3>
                <p>
                  Монтаж, так или иначе, готично использует глубокий катарсис. Выразительное, следовательно, многопланово диссонирует модернизм, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике. Беспристрастный анализ любого творческого акта показывает, что снижение готично имитирует незначительный импрессионизм.
                </p>
              </div>

              <div class="panel">
                <ul class="menu panel-navigation" data-smooth-scroll>
                  <li><a class="active" href="#works">Работы</a></li>
                  <li><a href="#projects">Проекты</a></li>
                </ul>

                <div id="works">
                  <h3>Мои работы</h3>
                  <div class="projects-list cards-list">
                    {{#repeat 6}}
                      {{>project-short work=1}}
                    {{/repeat}}
                  </div>
                </div>
                <div id="projects">
                  <h3>Мои Проекты</h3>
                  <div class="projects-list cards-list">
                    {{#repeat 3}}
                      {{>project-short}}
                    {{/repeat}}
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>