{{>user-title}}
<div class="content-wrap project">
  <div class="grid-x grid-padding-x">
    <sidebar class="medium-4 cell">
      <p class="text-right">
        <a href=""><span class="iconify" data-icon="codicon:close" data-inline="false"></span>
            Очистить фильтры
          </a>
      </p>
      <form action="">
        
        {{>input title="Название проекта"}}
        
        {{>input title="Метка" search=1}}
        <label for="roleSelect" class="select-label">Роль в проекте
          <select id="roleSelect">
            <option>Все</option>
            <option>Режиссер</option>
            <option data-toggle="events">Актер</option>
            <option>Художник</option>
          </select>
        </label>
        <label for="roleSelect" class="select-label">Индустрия проекта
          <select id="roleSelect" >
            <option>Все</option>
            <option>Театр</option>
            <option>Кино</option>
          </select>
        </label>
        {{>input title="Клиент проекта" search=1}}
        {{>input title="Местоположение проекта" search=1}}

        {{>switch title="Создан компанией"}}
      </form>
    </sidebar>

    <div class="medium-8 cell">
      <h3>Проекты</h3>
      <div class="grid-x grid-padding-x">
        <div class="medium-9 cell">
          <ul class="menu panel-navigation">
            <li><a href="" class="active">Рекомендуемые</a></li>
            <li><a href="" class="">Для тебя</a></li>
            <li><a href="">Проекты друзей</a></li>
            <li><a href="">Сохраненные</a></li>
          </ul>
        </div>
        <div class="medium-3 cell text-right">
          <a href="create_project.html" class="button gray add-project-button" >Добавить</a>
          
        </div>
      </div>

      <div class="projects-list cards-list">
        {{#repeat 6}}
          {{>project-short}}
        {{/repeat}}
      </div>
    </div>
  </div>
</div>
