<div class="grid-container schedule">
  <div class="grid-x grid-padding-x event-info">
    <div class="cell small-10">
      <img src="{{root}}assets\img\proj-img.jpg" alt="" class="work-img">
      <h4 class="schedule__title"><a href="work.html">Staig's head</a></h4>
      <p class="schedule__description">Спектакль, 2ч 30минб 18+</p>
    </div>
    <div class="cell small-2 back"><a href="work.html"><span class="iconify" data-icon="codicon:chevron-left"
          data-inline="false"></span> Назад</a></div>
  </div>
  <div class="grid-x grid-padding-x events"></div>
  <div class="cell small-12 panel">
    <h3>Расписание</h3>

    <h4 class="date-header"><span class="date">12.10.21</span></h4>

    <div class="schedule-event">
      <div class="schedule-event__info">
        <div class="schedule-event__location">Электротеатр Станиславский</div>
        <div class="schedule-event__address">ул. Тверская, 23</div>
      </div>
      <div class="schedule-event__time">
        {{>chip title="19:00" not_editable=1}}
      </div>
    </div>

    <h4 class="date-header"><span class="date">18.10.21</span></h4>

    <div class="schedule-event">
      <div class="schedule-event__info">
        <div class="schedule-event__location">Пространство наций</div>
        <div class="schedule-event__address">ул. Тверская, 23</div>
      </div>
      <div class="schedule-event__time">
        {{>chip title="20:00" not_editable=1}}
      </div>
    </div>

  </div>
</div>
</div>