<div class="content-wrap project work">
  <div class="grid-x grid-padding-x">
    <div class="medium-12 cell" id="main-content">
      <div class="panel">
        <section>
          <div class="grid-x">
            <div class="small-8 cell">
              <h2>Staigs Head</h2>
            </div>
            <div class="small-4 cell share-project">
              <div class="project-likes project-info__block"><span class="iconify" data-icon="codicon:heart"
                  data-inline="false"></span> 20 лайков
              </div>
            </div>
          </div>
          <p class="lead">
            Мини спектакль в театре “Пространство Наций”, поставленный в 2019 году
          </p>
          <div class="section hero-image" style="background-image:url({{root}}assets/img/proj-img-fw.jpg)"><a class="button calendar" href="schedule.html"><span class="iconify" data-icon="codicon:calendar" data-inline="false"></span> Расписание
          </a></div>
          <p>Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt mollit
            dolore cillum minim tempor enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute
            id deserunt nisi.</p>
          <div class="orbit" role="region" aria-label="Project pictures" data-orbit>
            <div class="orbit-wrapper">
              <div class="orbit-controls">
                <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
              </div>
              <ul class="orbit-container">
                {{#repeat 3}}
                <li class="is-active orbit-slide">
                  <div class="grid-x grid-padding-x small-up-3 medium-up-3">
                    {{#repeat 3}}
                    <div class="cell"><img src="{{root}}assets\img\proj-img.jpg" alt="" class="project-img"></div>
                    {{/repeat}}
                  </div>
                  {{/repeat}}
                </li>

              </ul>
            </div>
          </div>
        </section>

        <section class="medium-12 cell" id="project-info">
          <div class="grid-x grid-padding-x">

            <div class="project-info__block team small-6 medium-3 cell">
              <h5 class="project-info__title">Команда</h5>
              <div class="items-list">
                {{#repeat 2}}
                <div class="item">
                  <a class="item-thumb"><img src="{{root}}assets\img\avatar.jpg" alt=""></a>
                  <div class="item-info">
                    <span class="item-name">Иван Иванов</span>
                    <span class="item-description">Режиссер</span>
                  </div>
                  <a class="item-add"><span class="iconify" data-icon="codicon:add" data-inline="false"></span></a>
                </div>
                {{/repeat}}
              </div>
            </div>

            <div class="project-info__block needed small-6 medium-3 cell">
              <h5 class="project-info__title">Проекту нужны</h5>
              <div class="items-list">
                {{#repeat 2}}
                <div class="item">
                  <a class="item-thumb"><img src="{{root}}assets\img\unknown.svg" alt=""></a>
                  <div class="item-info">
                    <span class="item-name">Иван Иванов</span>
                    <span class="item-description">Режиссер</span>
                  </div>
                  <a class="item-add"><span class="circle-icon"><span class="iconify" data-icon="codicon:add"
                        data-inline="false"></span></span></a>
                </div>
                {{/repeat}}
              </div>
            </div>

            <div class="project-info__block small-6 medium-3 cell" id="tags">
              <h5 class="project-info__title">Место проведения</h5>
              <p>Москва, Россия</p>
              <div class="actions-block">
                <span class="iconify" data-icon="codicon:edit" data-inline="false"></span>
                <a href="">Редактировать</a>
              </div>
            </div>

            <div class="project-info__block small-6 medium-3 cell" id="tags">
              <h5 class="project-info__title">Клиент</h5>
              <div class="item">
                <a class="item-thumb"><img src="{{root}}assets\img\company_thumb.jpg" alt=""></a>
                <div class="item-info"><a class="item-name">Электротеатр “Станиславский”</a></div>
              </div>
              <div class="actions-block">
                <span class="iconify" data-icon="codicon:edit" data-inline="false"></span>
                <a href="">Редактировать</a>
              </div>
            </div>
            
            <div class="project-info__block small-6 cell" id="tags">
              <h5 class="project-info__title">Теги проекта</h5>
              <div class="chips-group"><a class="chip">Спектакль</a><a class="chip">Иммерсивный</a><a
                  class="chip">Мьюзикл</a>
              </div>
              <div class="actions-block">
                <span class="iconify" data-icon="codicon:edit" data-inline="false"></span>
                <a href="">Редактировать</a>
              </div>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
</div>