{{>user-title}}
<div class="content-wrap works">
  <div class="grid-x grid-padding-x">
    <sidebar class="medium-4 cell">
      <p class="text-right">
        <a href=""><span class="iconify" data-icon="codicon:close" data-inline="false"></span>
            Очистить фильтры
          </a>
      </p>
      <form action="">
        <div class="choose-date">
          <a class="button secondary expanded" id="datepickerButton"><span class="iconify" data-icon="codicon:calendar" data-inline="false"></span> Выбрать дату
          </a>
          <div id="datepicker"></div>
        </div>
        

        {{>input title="Название"}}
        
        {{>input title="Метка" search=1}}
        
        <label for="roleSelect" class="select-label">Индустрия проекта
          <select id="roleSelect" >
            <option>Все</option>
            <option>Театр</option>
            <option>Кино</option>
          </select>
        </label>
        {{>input title="Партнер проекта" search=1}}
        {{>input title="Местоположение проекта" search=1}}

      </form>
    </sidebar>

    <div class="medium-8 cell">
      <h3>Работы</h3>
      <div class="grid-x grid-padding-x">
        <div class="medium-9 cell">
          <ul class="menu panel-navigation">
            <li><a href="" class="active">Ближайшие</a></li>
            <li><a href="">Рекомендуемые</a></li>
            <li><a href="">Работы друзей</a></li>
            <li><a href="">Сохраненные</a></li>
          </ul>
        </div>
        <div class="medium-3 cell text-right">
          <a href="create_project.html" class="button gray add-project-button" >Добавить</a>
          
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="small-12 cell">
          <h3>Показы</h3>
          <h4 class="date-header"><span class="date">12.10.21</span></h4>
        </div>
      </div>
      <div class="projects-list cards-list">
        {{#repeat 3}}
          {{>project-short}}
        {{/repeat}}
      </div>
      <div class="grid-x grid-padding-x">
        <div class="small-12 cell">
          <h4 class="date-header"><span class="date">18.10.21</span></h4>
        </div>
      </div>
      <div class="projects-list cards-list">
        {{#repeat 3}}
          {{>project-short}}
        {{/repeat}}
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(event) { 
    jQuery("#datepicker").datepicker({minDate: 0}).hide()
    .click(function() {
      jQuery(this).hide();
    });;
    jQuery("#datepickerButton").click(function() {
      jQuery("#datepicker").show(); 
    });
  });
</script>