.create-project{
  .panel {
    padding-top: 3rem;
  }
  .large-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    border-radius: 1rem;
    margin: 0 auto;
    .iconify {
      display: block;
      width: 50%;
      font-size: 5rem;
      margin-bottom: rem-calc(5);
    }
  }
  h3 {
    [data-tooltip] {
      border-bottom: none;
      line-height: rem-calc(20);
      top: rem-calc(4);
      @include breakpoint (medium) {
        font-size: 80%;
      }
    }
  }
  select {
    @include breakpoint (medium) {
      max-width: rem-calc(300);  
    }
  }
  .team {
    @include xy-grid;
  }
  .user {
    @include xy-cell(6);
    @include breakpoint (medium) {
      @include xy-cell(4);
      
    }
    @include breakpoint (large) {
      @include xy-cell(3);
      
    }
    .user__pic {
      margin-bottom: rem-calc(10);
    }
    .user__name, .user-add__text {
      font-size: rem-calc(18);
      margin-bottom: 0;
    }
    .user__role, .user-add__tip {
      font-size: rem-calc(14);
    }
    
    .user-add__button {
      img {
        display: block;
        margin-bottom: rem-calc(10);
      }
    
      
      
    }
  }
}