.create-profile {
  .user-pics {
    margin-bottom: 2rem;
    .cell {
      min-height: rem-calc(180);
      background-blend-mode: lighten;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      display: flex;
      justify-content: center;
      align-items: center;
      &.user-thumb {
      @include breakpoint(small only) {
        margin-bottom: 2rem;
      }
      }
      &.user-cover {
        background-size: cover !important;
      }
      .button {
        margin-top: 20px;
      }
    }
  }
  .actions {
    text-align: right;
    .button {
      margin-left: 1rem;
      padding: 0.75em 2em;
    }
  }
}