.share-project {
  align-self: center;
  text-align: right;
  .project-likes {
    transition: color 1s;
    .iconify {
      transition: color 1s;
      font-size: 1.6rem;
      color: $dark-gray;
      margin-bottom: rem-calc(-8);
    }
    &:hover {
      color: $red;
      .iconify {
        color: $red;
      }
    }
  }
}
#project-info {
  .project-info__block {
    margin-bottom: 2rem;
  }
  .project-info__title {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $medium-gray;
  }
}