.schedule {
  margin-top: 2rem;
  .event-info {
     margin-bottom: 2rem;
     align-items: center;
  }
  .back {
    .iconify {
      font-size: rem-calc(22px);
    }
  }
  .work-img {
    float: left;
    margin-right: 1rem;
    max-width: 100px;
  }
  .schedule__title {
    margin-bottom: 0;
  }

  .schedule-event {
    @include xy-grid;
    margin-bottom: 2rem;
  }
  .schedule-event__info {
    @include xy-cell(9)
  }
  .schedule-event__time {
    @include xy-cell(3);
    text-align: right;
  }
  .schedule-event__location {
    font-weight: bold;
  }
  .schedule-event__address {
    font-size: rem-calc(14px);
  }
}