.works {
  &.content-wrap {
    background-color: #fff;
  }
  sidebar {
    .choose-date {
      margin-bottom: 2.5rem;
    }
  }
}
.work {
  .hero-image {
    height: 400px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    .button {
      position: absolute;
      left: 20px;
      bottom: 20px;
      opacity: .8;
    }
  }
}