<div class="title-bar aux-menu">
  <div class="title-bar-left">
    <span class="logo"><a href="/" class="user-pic"><img src="{{root}}assets/img/logo.svg" alt="" ></a></span>
    <span class="page-title">Редактировать</span>
  </div>
  <div class="title-bar-right shrink">
    <a href="/"><span class="iconify" data-icon="codicon:chrome-close" data-inline="false"></span></a>
  </div>
</div>