<span class="chip"{{#if deletable}} data-closable{{/if}}>
  {{#if editable}}<span class="iconify" data-icon="codicon:edit"
  data-inline="false"></span>{{/if}}
  {{#if title}}{{title}}{{else}}Режиссер{{/if}}
  {{#if deletable}}<a data-close>
    <span class="iconify orange" data-icon="codicon:close"
    data-inline="false"></span>
  </a>{{/if}}
</span>
