<div class="form-input">
  <label>
    <input {{#if search}}class="search"{{/if}}{{#if calendar}}class="calendar" id="datepicker"{{/if}}{{#if time}}class="time" id="timepicker"{{/if}} required>
    <span class="placeholder">{{title}}</span>
  </label>
</div>
{{#if calendar}}
<script>
document.addEventListener("DOMContentLoaded", function(event) { 
	jQuery("#datepicker").datepicker({minDate: 0});
});
</script>
{{/if}}
{{#if time}}
<script>
document.addEventListener("DOMContentLoaded", function(event) { 
	jQuery("#timepicker").timepicker();
});
</script>
{{/if}}