<div data-sticky-container id="topBarContainer">
  <div  data-sticky data-options="marginTop:0;" class="title-bar title-bar-right" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <span class="menu-logo"><a href="/"><img src="{{root}}assets/img/logo.svg" alt=""></a></span>
    <ul class="menu">
      <li><a href="/profile.html" class="user-pic"><img src="{{root}}assets/img/avatar.jpg" alt="" ></a></li>
      <li><a href=""><span class="iconify" data-icon="codicon:comment-discussion" data-inline="false"></span></a></li>
      <li><a href=""><span class="iconify" data-icon="codicon:bell-dot" data-inline="false"></span></a></li>
      <li><a data-toggle="offCanvas" id="offCanvasButton" ><span class="iconify open" data-icon="codicon:menu" data-inline="false"></span><span class="iconify close" data-icon="codicon:chrome-close" data-inline="false"></span></a></li>
    </ul>
  </div>
  
  <div  data-sticky data-options="marginTop:0;" class="top-bar" id="responsive-menu">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-logo"><a href="/" class="logo"><img src="{{root}}assets/img/logo.svg" alt=""></a></li>
        <li class="has-dropdown">
          <a href="#0" data-toggle="submenu submenu__link" id="submenu__link" data-toggler="is-active">Сообщество</a>
  
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="/profile.html" class="user-pic"><img src="{{root}}assets/img/avatar.jpg" alt="" width="40" ></a></li>
        <li><a href=""><span class="iconify" data-icon="codicon:comment-discussion" data-inline="false"></span></a></li>
        <li><a href=""><span class="iconify" data-icon="codicon:bell-dot" data-inline="false"></span></a></li>
        <li><a data-toggle="offCanvas" id="offCanvasButtonMedium"><span class="iconify open" data-icon="codicon:menu" data-inline="false"></span><span class="iconify close" data-icon="codicon:chrome-close" data-inline="false"></span></a></li>
      </ul>
    </div>
  </div>
  {{>submenu}}
</div>