<ul class="menu vertical">
  <li><a href="create_project.html" class="button">Создать проект</a></li>
  <li><a href="">Создать Open Call</a></li>
</ul>
<ul class="menu vertical">
  <li>Доступные страницы:</li>
  {{#each pages}}
  <li><a href="/{{src}}">{{name}}</a></li>
  {{/each}}
</ul>