<div class="project-block">
  <a href="{{#if work}}work.html{{else}}project.html{{/if}}"><img src="{{root}}assets\img\proj-img.jpg" alt="" class="project-img"></a>
  <div class="actions">
    <a href=""><span class="iconify" data-icon="codicon:comment" data-inline="false"></span></a>
    <a href=""><span class="iconify" data-icon="codicon:live-share" data-inline="false"></span></a>
    <a href="" class="align-right"><span class="iconify" data-icon="codicon:heart" data-inline="false"></span></a>
  </div>
  <h4 class="project-title"><a href="{{#if work}}work.html{{else}}project.html{{/if}}">Staigs Head</a></h4>
  <p class="project-descr info">Мини спектакль в театре “Пространство Наций”, поставленный в 2019 году</p>
</div>