<div class="submenu" id="submenu" data-toggler=".expanded">
  <div class="submenu__wrap">
    <ul class="submenu__items">
      <li class="submenu__item">
        <a href="" class="submenu__img"><img src="{{root}}assets/img/menu-people.jpg" alt=""></a>
        <div class="submenu__info">
          <p class="submenu__lead"><a href="connections.html">Люди</a></p>
          <p class="submenu__description">Находи людей со схожими интересами</p>
        </div>
      </li>
      <li class="submenu__item">
        <a href="" class="submenu__img"><img src="{{root}}assets/img/menu-events.jpg" alt=""></a>
        <div class="submenu__info">
          <p class="submenu__lead"><a href="works.html">События</a></p>
          <p class="submenu__description">Получай билеты и прглашения на спектакли, курсы, встречи с интересными людьми</p>
        </div>
      </li>
      <li class="submenu__item">
        <a href="" class="submenu__img"><img src="{{root}}assets/img/menu-collab.jpg" alt=""></a>
        <div class="submenu__info">
          <p class="submenu__lead"><a href="projects.html">Коллаб</a></p>
          <p class="submenu__description">Найди работу или коллаб мечты </p>
        </div>
      </li>
    </ul>
  </div>
</div>