<div class="switch-group">
  <div class="switch">
    <input class="switch-input" id="switch" type="checkbox"
      name="switch">
    <label class="switch-paddle" for="switch">
      <span class="show-for-sr">{{title}}</span>
    </label>
  </div>
  <label class="switch-label" for="">{{title}}</label>
</div>