<div class="hero profile-hero" style="background:rgba(0, 0, 0, .3) url({{root}}assets/img/bg.jpg)">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="user-pic medium-2 cell">
        <img src="{{root}}assets/img/avatar.png" alt="" >
      </div>
      <div class="user-info medium-10 cell">
        <div class="grid-x grid-padding-x">
          <div class="large-6 cell">
            <h1 class="username">Борис Борисов</h1>
            <p class="user-description">Безумный тетральный режиссер</p>
            <p class="user-location"><a href="">Москва</a></p>
          </div>
          <div class="large-6 cell actions">
            <a href="create_profile.html" class="button">
              Изменить
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>